<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
  <title>소식 작성 및 수정</title>
  <!-- 공통 -->
  <link rel="stylesheet" th:inline="css" th:href="@{/css/pages/community/commonness.css}">
  <script th:inline="javascript" type="text/javascript" th:src="@{/js/pages/community/commonness.js}"></script>
  <!-- 개인 -->
  <link rel="stylesheet" th:inline="css" th:href="@{/css/pages/write/writenews.css}">
  <script th:inline="javascript" type="text/javascript" th:src="@{/js/pages/write/writenews.js}"></script>
</head>
<th:block layout:fragment="content">
  <div class="content">
    <div class="commu-header">
      <div class="image-container">
        <img src="/img/mmenu1/lgogo.jpg" alt="이미지 설명">
      </div>
      <nav class="commu-header-nav">
        <ul>
          <li><a href="/event/list" class="#">이벤트</a></li>
          <li><a href="/news/list" class="active">피플소식</a></li>
          <li><a href="/review/list" class="#">시술후기</a></li>
        </ul>
      </nav>
    </div>
    <div class="commu-title">
      <h1>소식</h1>
      <a>news</a>
    </div>

    <!-- --- -->
    <!-- write 공간 -->
    <div class="post-body">
      <div class="form-box">
        <div class="newswriteform">
          <form th:action="${news == null} ? '/news/submit' : '/news/update/' + ${news.id}"
                method="post" id="newswriteform" enctype="multipart/form-data">

            <div class="newswrite-container">

              <div class="input-group">
                <div class="input-item">
                  <label for="title">제목</label>
                  <input type="text" id="title" name="title" placeholder="소식 제목을 입력하세요"
                         th:value="${news != null} ? ${news.title} : ''" required>
                </div>
              </div>

              <div class="input-group">
                <div class="input-item">
                  <label for="content">내용</label>
                  <textarea id="content" name="content" placeholder="소식 내용을 입력하세요"
                            th:text="${news != null} ? ${news.content} : ''"></textarea>
                </div>
              </div>

              <div class="input-group">
                <div class="input-item">
                  <label>파일첨부</label>
                  <input type="text" id="imageInput" placeholder="최대 3개까지 업로드 가능합니다." readonly>
                  <label for="image" class="file-upload-label">파일 첨부</label>
                  <input type="file" id="image" name="image" accept="image/*" multiple style="display: none;">

                  <p id="file-warning" style="color: red; display: none;"></p>
                </div>
                <!-- 첨부된 파일 목록 표시 -->
                <div class="input-item">
                  <label></label>
                  <div id="fileList" class="file-list"></div>
                </div>

              </div>

              <div class="input-item submit-button-wrapper">
                <button type="submit" class="submit-button" id="submit-button"
                        th:text="${news == null} ? '등록하기' : '수정하기'"></button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- --- -->

    </div>
  </div>
</th:block>
</html>