/* board.css */

/* 게시판 영역 스타일 */

.board {
    display: flex;
    justify-content: center;  /* 수평 가운데 정렬 */
}

.board-list {
    width: 70%;
    background-color: #fff;  /* 배경색 추가 (선택 사항) */
    border-top: 3px solid #c75e5e;
}

/* 테이블 스타일 */
.board-list table {
    width: 100%;
    border-collapse: collapse;

    border-radius: 5px;
    overflow: hidden;
}

.board-list th, .board-list td {
    height: 50px;
    padding: 12px;
    text-align: center;
}

/*--------------------*/

/* 각 td의 기본 스타일 */
.board-list td {
    padding: 20px;

    border-bottom: 1px solid #ddd;
    font-size: 16px;
    color: #343434;
}

/* 번호는 중앙 정렬 */
.board-list td:first-child {
    padding-left: 40px;
    text-align: left;
    width: 10%;  /* 번호 열 고정 너비 */
}

/* 제목은 왼쪽 정렬 */
.board-list td:nth-child(2) {
    text-align: left;
    width: 70%;  /* 제목 열 고정 너비 */
}

/* 작성일은 오른쪽 정렬 */
.board-list td:nth-child(3) {
    padding-right: 40px;
    text-align: right;
    width: 20%;  /* 작성일 열 고정 너비 */
}

/*--------------------*/

/* 헤더 스타일 */
.board-list th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}



/* 테이블 행 호버 스타일 */
.board-list tr:hover {
    background-color: #f1f1f1;
}

/* '새 게시글 작성' 링크 스타일 */
.create-post-link {
    display: block;
    width: 100px;

    margin-top: 30px;
    margin-left: auto; /* 좌측 여백 자동 */
    margin-right: 0;   /* 우측 여백 0 */

    padding: 8px 8px;
    background-color: #c75e5e;
    color: white;
    text-align: center;
    text-decoration: none;

    font-weight: bold;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
}

/* 번호는 중앙 정렬 */
.pagination a:first-child {
    background-color: #f1f1f1;
    color: #333;
    border: 1px solid #dddddd;
}

/* 제목은 왼쪽 정렬 */
.pagination a:nth-child(2) {
    background-color: white;
    border: 1px solid #c75e5e;
    color: #c75e5e;
}

/* 작성일은 오른쪽 정렬 */
.pagination a:nth-child(3) {
    background-color: #f1f1f1;
    color: #333;
    border: 1px solid #dddddd;
}